<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.system.mapper.MdItemMapper">
    
    <resultMap type="MdItem" id="MdItemResult">
        <result property="itemId"    column="item_id"    />
        <result property="itemCode"    column="item_code"    />
        <result property="itemName"    column="item_name"    />
        <result property="specification"    column="specification"    />
        <result property="unitOfMeasure"    column="unit_of_measure"    />
        <result property="unitName"    column="unit_name"    />
        <result property="itemOrProduct"    column="item_or_product"    />
        <result property="itemTypeId"    column="item_type_id"    />
        <result property="itemTypeCode"    column="item_type_code"    />
        <result property="itemTypeName"    column="item_type_name"    />
        <result property="enableFlag"    column="enable_flag"    />
        <result property="safeStockFlag"    column="safe_stock_flag"    />
        <result property="minStock"    column="min_stock"    />
        <result property="maxStock"    column="max_stock"    />
        <result property="highValue"    column="high_value"    />
        <result property="batchFlag"    column="batch_flag"    />
        <result property="remark"    column="remark"    />
        <result property="attr1"    column="attr1"    />
        <result property="attr2"    column="attr2"    />
        <result property="attr3"    column="attr3"    />
        <result property="attr4"    column="attr4"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap id="MdItemProductSopResult" type="MdItem" extends="MdItemResult">
        <collection property="productSopList" notNullColumn="sub_sop_id" javaType="java.util.List" resultMap="ProductSopResult" />
    </resultMap>

    <resultMap type="ProductSop" id="ProductSopResult">
        <result property="sopId"    column="sub_sop_id"    />
        <result property="itemId"    column="sub_item_id"    />
        <result property="orderNum"    column="sub_order_num"    />
        <result property="processId"    column="sub_process_id"    />
        <result property="processCode"    column="sub_process_code"    />
        <result property="processName"    column="sub_process_name"    />
        <result property="sopTitle"    column="sub_sop_title"    />
        <result property="sopDescription"    column="sub_sop_description"    />
        <result property="sopUrl"    column="sub_sop_url"    />
        <result property="remark"    column="sub_remark"    />
        <result property="attr1"    column="sub_attr1"    />
        <result property="attr2"    column="sub_attr2"    />
        <result property="attr3"    column="sub_attr3"    />
        <result property="attr4"    column="sub_attr4"    />
        <result property="createBy"    column="sub_create_by"    />
        <result property="createTime"    column="sub_create_time"    />
        <result property="updateBy"    column="sub_update_by"    />
        <result property="updateTime"    column="sub_update_time"    />
    </resultMap>

    <sql id="selectMdItemVo">
        select item_id, item_code, item_name, specification, unit_of_measure, unit_name, item_or_product, item_type_id, item_type_code, item_type_name, enable_flag, safe_stock_flag, min_stock, max_stock, high_value, batch_flag, remark, attr1, attr2, attr3, attr4, create_by, create_time, update_by, update_time from md_item
    </sql>

    <select id="selectMdItemList" parameterType="MdItem" resultMap="MdItemResult">
        <include refid="selectMdItemVo"/>
        <where>  
            <if test="itemCode != null  and itemCode != ''"> and item_code = #{itemCode}</if>
            <if test="itemName != null  and itemName != ''"> and item_name like concat('%', #{itemName}, '%')</if>
            <if test="enableFlag != null  and enableFlag != ''"> and enable_flag = #{enableFlag}</if>
        </where>
    </select>
    
    <select id="selectMdItemByItemId" parameterType="Long" resultMap="MdItemProductSopResult">
        select a.item_id, a.item_code, a.item_name, a.specification, a.unit_of_measure, a.unit_name, a.item_or_product, a.item_type_id, a.item_type_code, a.item_type_name, a.enable_flag, a.safe_stock_flag, a.min_stock, a.max_stock, a.high_value, a.batch_flag, a.remark, a.attr1, a.attr2, a.attr3, a.attr4, a.create_by, a.create_time, a.update_by, a.update_time,
 b.sop_id as sub_sop_id, b.item_id as sub_item_id, b.order_num as sub_order_num, b.process_id as sub_process_id, b.process_code as sub_process_code, b.process_name as sub_process_name, b.sop_title as sub_sop_title, b.sop_description as sub_sop_description, b.sop_url as sub_sop_url, b.remark as sub_remark, b.attr1 as sub_attr1, b.attr2 as sub_attr2, b.attr3 as sub_attr3, b.attr4 as sub_attr4, b.create_by as sub_create_by, b.create_time as sub_create_time, b.update_by as sub_update_by, b.update_time as sub_update_time
        from md_item a
        left join md_product_sop b on b.item_id = a.item_id
        where a.item_id = #{itemId}
    </select>
        
    <insert id="insertMdItem" parameterType="MdItem" useGeneratedKeys="true" keyProperty="itemId">
        insert into md_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="itemCode != null and itemCode != ''">item_code,</if>
            <if test="itemName != null and itemName != ''">item_name,</if>
            <if test="specification != null">specification,</if>
            <if test="unitOfMeasure != null and unitOfMeasure != ''">unit_of_measure,</if>
            <if test="unitName != null">unit_name,</if>
            <if test="itemOrProduct != null and itemOrProduct != ''">item_or_product,</if>
            <if test="itemTypeId != null">item_type_id,</if>
            <if test="itemTypeCode != null">item_type_code,</if>
            <if test="itemTypeName != null">item_type_name,</if>
            <if test="enableFlag != null and enableFlag != ''">enable_flag,</if>
            <if test="safeStockFlag != null and safeStockFlag != ''">safe_stock_flag,</if>
            <if test="minStock != null">min_stock,</if>
            <if test="maxStock != null">max_stock,</if>
            <if test="highValue != null and highValue != ''">high_value,</if>
            <if test="batchFlag != null and batchFlag != ''">batch_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="attr1 != null">attr1,</if>
            <if test="attr2 != null">attr2,</if>
            <if test="attr3 != null">attr3,</if>
            <if test="attr4 != null">attr4,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="itemCode != null and itemCode != ''">#{itemCode},</if>
            <if test="itemName != null and itemName != ''">#{itemName},</if>
            <if test="specification != null">#{specification},</if>
            <if test="unitOfMeasure != null and unitOfMeasure != ''">#{unitOfMeasure},</if>
            <if test="unitName != null">#{unitName},</if>
            <if test="itemOrProduct != null and itemOrProduct != ''">#{itemOrProduct},</if>
            <if test="itemTypeId != null">#{itemTypeId},</if>
            <if test="itemTypeCode != null">#{itemTypeCode},</if>
            <if test="itemTypeName != null">#{itemTypeName},</if>
            <if test="enableFlag != null and enableFlag != ''">#{enableFlag},</if>
            <if test="safeStockFlag != null and safeStockFlag != ''">#{safeStockFlag},</if>
            <if test="minStock != null">#{minStock},</if>
            <if test="maxStock != null">#{maxStock},</if>
            <if test="highValue != null and highValue != ''">#{highValue},</if>
            <if test="batchFlag != null and batchFlag != ''">#{batchFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="attr1 != null">#{attr1},</if>
            <if test="attr2 != null">#{attr2},</if>
            <if test="attr3 != null">#{attr3},</if>
            <if test="attr4 != null">#{attr4},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateMdItem" parameterType="MdItem">
        update md_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="itemCode != null and itemCode != ''">item_code = #{itemCode},</if>
            <if test="itemName != null and itemName != ''">item_name = #{itemName},</if>
            <if test="specification != null">specification = #{specification},</if>
            <if test="unitOfMeasure != null and unitOfMeasure != ''">unit_of_measure = #{unitOfMeasure},</if>
            <if test="unitName != null">unit_name = #{unitName},</if>
            <if test="itemOrProduct != null and itemOrProduct != ''">item_or_product = #{itemOrProduct},</if>
            <if test="itemTypeId != null">item_type_id = #{itemTypeId},</if>
            <if test="itemTypeCode != null">item_type_code = #{itemTypeCode},</if>
            <if test="itemTypeName != null">item_type_name = #{itemTypeName},</if>
            <if test="enableFlag != null and enableFlag != ''">enable_flag = #{enableFlag},</if>
            <if test="safeStockFlag != null and safeStockFlag != ''">safe_stock_flag = #{safeStockFlag},</if>
            <if test="minStock != null">min_stock = #{minStock},</if>
            <if test="maxStock != null">max_stock = #{maxStock},</if>
            <if test="highValue != null and highValue != ''">high_value = #{highValue},</if>
            <if test="batchFlag != null and batchFlag != ''">batch_flag = #{batchFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="attr1 != null">attr1 = #{attr1},</if>
            <if test="attr2 != null">attr2 = #{attr2},</if>
            <if test="attr3 != null">attr3 = #{attr3},</if>
            <if test="attr4 != null">attr4 = #{attr4},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where item_id = #{itemId}
    </update>

    <delete id="deleteMdItemByItemId" parameterType="Long">
        delete from md_item where item_id = #{itemId}
    </delete>

    <delete id="deleteMdItemByItemIds" parameterType="String">
        delete from md_item where item_id in 
        <foreach item="itemId" collection="array" open="(" separator="," close=")">
            #{itemId}
        </foreach>
    </delete>
    
    <delete id="deleteProductSopByItemIds" parameterType="String">
        delete from md_product_sop where item_id in 
        <foreach item="itemId" collection="array" open="(" separator="," close=")">
            #{itemId}
        </foreach>
    </delete>

    <delete id="deleteProductSopByItemId" parameterType="Long">
        delete from md_product_sop where item_id = #{itemId}
    </delete>

    <insert id="batchProductSop">
        insert into md_product_sop( sop_id, item_id, order_num, process_id, process_code, process_name, sop_title, sop_description, sop_url, remark, attr1, attr2, attr3, attr4, create_by, create_time, update_by, update_time) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.sopId}, #{item.itemId}, #{item.orderNum}, #{item.processId}, #{item.processCode}, #{item.processName}, #{item.sopTitle}, #{item.sopDescription}, #{item.sopUrl}, #{item.remark}, #{item.attr1}, #{item.attr2}, #{item.attr3}, #{item.attr4}, #{item.createBy}, #{item.createTime}, #{item.updateBy}, #{item.updateTime})
        </foreach>
    </insert>
</mapper>