<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.system.mapper.WorkshopMapper">

    <resultMap type="Workshop" id="WorkshopResult">
        <result property="id"    column="id"    />
        <result property="workshopCode"    column="workshop_code"    />
        <result property="workshopName"    column="workshop_name"    />
        <result property="area"    column="area"    />
        <result property="managerId"    column="manager_id"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <sql id="selectWorkshopVo">
        select id, workshop_code, workshop_name, area, manager_id, status, remark, create_time, update_time, is_deleted from base_workshop
    </sql>

    <select id="selectWorkshopList" parameterType="Workshop" resultMap="WorkshopResult">
        <include refid="selectWorkshopVo"/>
        <where>
            <if test="workshopCode != null  and workshopCode != ''"> and workshop_code = #{workshopCode}</if>
            <if test="workshopName != null  and workshopName != ''"> and workshop_name like concat('%', #{workshopName}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>

    <select id="selectWorkshopById" parameterType="Long" resultMap="WorkshopResult">
        <include refid="selectWorkshopVo"/>
        where id = #{id}
    </select>

    <select id="selectWorkshopNameList" resultType="Workshop">
        select * from base_workshop where status = 0
    </select>

    <insert id="insertWorkshop" parameterType="Workshop" useGeneratedKeys="true" keyProperty="id">
        insert into base_workshop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workshopCode != null and workshopCode != ''">workshop_code,</if>
            <if test="workshopName != null and workshopName != ''">workshop_name,</if>
            <if test="area != null">area,</if>
            <if test="managerId != null">manager_id,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workshopCode != null and workshopCode != ''">#{workshopCode},</if>
            <if test="workshopName != null and workshopName != ''">#{workshopName},</if>
            <if test="area != null">#{area},</if>
            <if test="managerId != null">#{managerId},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateWorkshop" parameterType="Workshop">
        update base_workshop
        <trim prefix="SET" suffixOverrides=",">
            <if test="workshopCode != null and workshopCode != ''">workshop_code = #{workshopCode},</if>
            <if test="workshopName != null and workshopName != ''">workshop_name = #{workshopName},</if>
            <if test="area != null">area = #{area},</if>
            <if test="managerId != null">manager_id = #{managerId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWorkshopById" parameterType="Long">
        delete from base_workshop where id = #{id}
    </delete>

    <delete id="deleteWorkshopByIds" parameterType="String">
        delete from base_workshop where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>