<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ms.system.mapper.WorkstationMapper">
    
    <resultMap type="Workstation" id="WorkstationResult">
        <result property="id"    column="id"    />
        <result property="workstationCode"    column="workstation_code"    />
        <result property="workstationName"    column="workstation_name"    />
        <result property="workshopId"    column="workshop_id"    />
        <result property="processId"    column="process_id"    />
        <result property="location"    column="location"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <resultMap id="WorkstationRelStationPositionResult" type="Workstation" extends="WorkstationResult">
        <collection property="relStationPositionList" notNullColumn="sub_id" javaType="java.util.List" resultMap="RelStationPositionResult" />
    </resultMap>

    <resultMap type="RelStationPosition" id="RelStationPositionResult">
        <result property="id"    column="sub_id"    />
        <result property="workstationId"    column="sub_workstation_id"    />
        <result property="positionId"    column="sub_position_id"    />
        <result property="standardCount"    column="sub_standard_count"    />
    </resultMap>

    <sql id="selectWorkstationVo">
        select id, workstation_code, workstation_name, workshop_id, process_id, location, status, create_time, update_time, is_deleted from base_workstation
    </sql>

    <select id="selectWorkstationList" parameterType="Workstation" resultMap="WorkstationResult">
        <include refid="selectWorkstationVo"/>
        <where>  
            <if test="workstationCode != null  and workstationCode != ''"> and workstation_code = #{workstationCode}</if>
            <if test="workstationName != null  and workstationName != ''"> and workstation_name like concat('%', #{workstationName}, '%')</if>
            <if test="workshopId != null "> and workshop_id = #{workshopId}</if>
            <if test="processId != null "> and process_id = #{processId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectWorkstationById" parameterType="Long" resultMap="WorkstationRelStationPositionResult">
        select a.id, a.workstation_code, a.workstation_name, a.workshop_id, a.process_id, a.location, a.status, a.create_time, a.update_time, a.is_deleted,
 b.id as sub_id, b.workstation_id as sub_workstation_id, b.position_id as sub_position_id, b.standard_count as sub_standard_count
        from base_workstation a
        left join rel_station_position b on b.workstation_id = a.id
        where a.id = #{id}
    </select>
        
    <insert id="insertWorkstation" parameterType="Workstation" useGeneratedKeys="true" keyProperty="id">
        insert into base_workstation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="workstationCode != null and workstationCode != ''">workstation_code,</if>
            <if test="workstationName != null and workstationName != ''">workstation_name,</if>
            <if test="workshopId != null">workshop_id,</if>
            <if test="processId != null">process_id,</if>
            <if test="location != null">location,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="workstationCode != null and workstationCode != ''">#{workstationCode},</if>
            <if test="workstationName != null and workstationName != ''">#{workstationName},</if>
            <if test="workshopId != null">#{workshopId},</if>
            <if test="processId != null">#{processId},</if>
            <if test="location != null">#{location},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateWorkstation" parameterType="Workstation">
        update base_workstation
        <trim prefix="SET" suffixOverrides=",">
            <if test="workstationCode != null and workstationCode != ''">workstation_code = #{workstationCode},</if>
            <if test="workstationName != null and workstationName != ''">workstation_name = #{workstationName},</if>
            <if test="workshopId != null">workshop_id = #{workshopId},</if>
            <if test="processId != null">process_id = #{processId},</if>
            <if test="location != null">location = #{location},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWorkstationById" parameterType="Long">
        delete from base_workstation where id = #{id}
    </delete>

    <delete id="deleteWorkstationByIds" parameterType="String">
        delete from base_workstation where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
    <delete id="deleteRelStationPositionByWorkstationIds" parameterType="String">
        delete from rel_station_position where workstation_id in 
        <foreach item="workstationId" collection="array" open="(" separator="," close=")">
            #{workstationId}
        </foreach>
    </delete>

    <delete id="deleteRelStationPositionByWorkstationId" parameterType="Long">
        delete from rel_station_position where workstation_id = #{workstationId}
    </delete>

    <insert id="batchRelStationPosition">
        insert into rel_station_position( id, workstation_id, position_id, standard_count) values
		<foreach item="item" index="index" collection="list" separator=",">
            ( #{item.id}, #{item.workstationId}, #{item.positionId}, #{item.standardCount})
        </foreach>
    </insert>
</mapper>